@font-face {
    font-family: "Poppins";
    src: url(".././public/fonts/Poppins/Poppins-Regular.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PoppinsBold";
    src: url(".././public/fonts/Poppins/Poppins-Bold.ttf")
      format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  main {
    background-color: #eef0f2;
  }
  
  main {
    min-height: 100vh;
  }
  